<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Trying.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1290AA691A8346F3004F1553</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1290AA821A8346F3004F1553</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>12A5D7301AAD815100A7F29F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>12A5D73F1AAD84CD00A7F29F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>12A5D74E1AAD877000A7F29F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
